{% extends "base.html" %}

{% block content %}
<main>
  <div>
    <h1>{{ object.name }}</h1>
    <p><a href="{% url 'todo_list_create' %}">Edit</a></p>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Due date</th>
        </tr>
      </thead>
      <tbody>
        {% for task in object.task_set.all %}
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.due_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}