{% extends "base.html" %}

{% block content %}
<main>
  <div>
    <h1>Edit a TodoList</h1>
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Save">
    </form>
  </div>
</main>
{% endblock content %}
