{% extends "base.html" %}
{% block title %}Todo List{% endblock title %}
{% block content %}
<main>
  <div>
    <h1>My Lists</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of items</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for todo_list in todos %}
        <tr>
          <td><a href="{% url 'todo_list_detail' id=todo_list.id %}">{{ todo_list.name }}</a></td>
          <td>{{ todo_list.task_set.count }}</td>
          <td><a href="{% url 'todo_list_update' id=todo_list.id %}">Edit</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}

