<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update list</title>
</head>
<body>
    <main>
        <div>
            <h1>Update list</h1>
            <form method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{ object.name }}">
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>
</html>
